<section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Sobre Mí</h2>
          <p>Un poco de mi información personal básica:</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="assets/img/perfil2cv.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Desarrollador Web, Desarrollador de Aplicaciones &amp; Modelador de software.</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Cumpleaños:</strong> <span>24 de Junio de 1999</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Teléfono:</strong> <span>+593 996434838</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Ciudad:</strong> <span>Quito, Ecuador</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Edad:</strong> <span>22</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Educación:</strong> <span>Estudiante de Ingeniería</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>fonsihernandez8@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Estatus:</strong> <span>Disponible</span></li>
                </ul>
              </div>
            </div>
            <p>
              Soy una persona joven emprededora, con la mentalidad y ganas de aprender contiuamente las nuevas tecnologías que aparecen. Y siempre dando lo mejor de mí en cada una
              en cada uno de los proyectos en los que me veo involucrado, ya que el buen trabajo me da la satisfacción para mis clientes, como para mí 
              mismo para sentirme confiando y avanzar en el mundo de del desarrollo de Software. 
            </p>
          </div>
        </div>

      </div>
    </section>