    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portafolio</h2>
          <p>A continuación se pueden ver las certificaciones, y los diversos trabajos realizados como parte de mi experiencia laboral.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Todo</li>
              <li data-filter=".filter-app">Certificaciones</li>
              <li data-filter=".filter-card">Webs Realizadas</li>
              <li data-filter=".filter-web">Otras Aplicaciones</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/CertificadoPET.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/CertificadoPET.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Certificado Inglés B1 PET"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/tastymiel.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/tastymiel.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Página Web de Promoción de Miel de Abeja Tasty Miel"><i class="bx bx-plus"></i></a>
                <a href="https://www.tastymiel.com/" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/certificadoNW.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/certificadoNW.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Certificado Introduccion a Packet Tracer"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/invirtual.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/invirtual.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Página principal e-commerce InVirtualStore"><i class="bx bx-plus"></i></a>
                <a href="https://invirtualshop.com/" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/ask.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/ask.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Analisis de Sentimientos en Kichwa (Procesamiento Natural del Lenguaje)"><i class="bx bx-plus"></i></a>
                <a href="https://ankp1.herokuapp.com/" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/fii.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/fii.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Forma Rápida de obtener el Full Inverted Index de un documento - En Python"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/fonsiher/Full-Inverted-Index-en-Python-Facil---Easy-" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>