    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Experiencias</h2>
          <p>Mi experiencia se plasma desde el camino seguido dese los estudios realizados que aun continua, y ciertas experiencias laborales que me han mostrado nuevas
            tecnologías que las puedo utlizar actualmente y me dan una mayor gama de habilidades.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Resumen</h3>
            <div class="resume-item pb-0">
              <h4>Edwin Hernández</h4>
              <p><em>Entuasiasta, emprendendor Desarrollador de Software, actualmente en estudios universitarios, con poco mas de 1 año en experiencia en proyecos reales y funcionales de software.</em></p>
              <ul>
                <li>Monjas Alto, Quito, Ecuador</li>
                <li>(02) 3194977 / +593 996434838</li>
                <li>fonsihernandez8@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Educación</h3>
            <div class="resume-item">
              <h4>Ingeniería en Ciencias de la Computación (7 semestres) </h4>
              <h5>2017 - Actualidad</h5>
              <p><em>Universidad Politécnica Salesiana, Quito</em></p>
              <p>Carrera de 5 años, aprendiendo de los elementos básicos de programación hasta utilización avanzada de los lenguajes 
                de programación, y habilidades para el manejo de proyectos. 
              </p>
            </div>
            <div class="resume-item">
              <h4>Bachiller en Ciencias</h4>
              <h5>2012 - 2017</h5>
              <p><em>Unidad Educativa Salesiana "Don Bosco", Quito</em></p>
              <p>Con mención honorífica en el Bachillerato Internacional.</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Experiencia Laboral</h3>
            <div class="resume-item">
              <h4>Profesor Ocasional en Escuela Secundaria &amp; Desarrollador contratado</h4>
              <h5>2019 - Presente</h5>
              <p><em>Unidad Educativa Giordano Bruno, Quito-Ecuador </em></p>
              <ul>
                <li>Profesor de Computación (Excel - Inicios a la programación (Sketch)) </li>
                <li>Profesor de Inglés. </li>
                <li>Desarrollo y Mantenimiento de Sistema de Calificaciones on-line</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Desarrollador &amp; Web-Master</h4>
              <h5>2020 - Presente</h5>
              <p><em>Invirtual Networks, Quito, Ecuador</em></p>
              <ul>
                <li>Producción y manejo de transmiciones en vivo desde Zoom a Facebook de clases de la empresa.</li>
                <li>Desarrollo/ Configuración de e-commerce en WP</li>
                <li>Mantenimiento y Ampliación del e-commerce</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section>