    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Servicios</h2>
          <p>Mis habilidades tanto en desarrollo como gestión de proyectos se pueden adaptar a varios aspectos en los que pueden ser aplicados.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-window"></i></div>
            <h4 class="title"><a href="">Desarrollo Web</a></h4>
            <p class="description">Desarrollo de Páginas web tanto estáticas como dinámicas, de la misma manera se pueden hacer aplicaciones 
              web más avanzadas, utlizando tecnologías actuales, de acuerdo a las necesides del cliente.
            </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-cart-fill"></i></div>
            <h4 class="title"><a href="">E-commerce</a></h4>
            <p class="description">Desarrollo, configuración y Matenimiento de e-commerce de acuerdo a las necesidades con herramientas actuales y con miras a ser constamente ampliados</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">Análisis Estadístico de Datos</a></h4>
            <p class="description">Se puede hacer analisis estadísticos tanto para aplicaciones que necesiten ser informativas
              , o se puede aplicar al analisis de actividades del negocio, analizando y con la capacidad de dar predicciones sencillas sobre ciertas actividades.
            </p>
          </div>
        </div>

      </div>
    </section>