
{{> header}}

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->

  {{> navbar}}

<!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Edwin Hernández Moya</h1>
      <p>Soy <span class="typed" data-typed-items="Desarrollador, Freelancer, Organizador de Proyectos"></span></p>
    </div>
  </section>

  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    {{> about}}
    <!-- End About Section -->

    <!-- ======= Facts Section ======= -->
     {{> facts}}

<!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
      {{> skills}}
<!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    {{> resume}}
<!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    {{> portafolio}}
<!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    {{> servicios}}
<!-- End Services Section -->


    <!-- ======= Contact Section ======= -->
    {{> contacto}}
<!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
    {{> footer}}

</body>
</html>